
<div class="container">
	<div class="main-visual-box">
	</div>
</div>
<div class="box">
	<h1>Thanks for coming!</h1>
</div>

<div class="container2">
	<% @blogs.each do |blog| %>
	<div class="note-box">
	<div class="note">
		<br>
		<p><strong><%= blog.created_at.to_s(:datetime_jp)%></strong></p>
		<p><strong>Title : </strong><%= blog.title %></p>
		<p><strong>Body : </strong><%= simple_format(blog.body) %></p>
		<div class="block"><p class="tip"><%= link_to 'Edit?',edit_blog_path(blog) ,class: "btn-sticky"%></p></div>
		<div class="block2"><p class="tip"><%= link_to 'Delete?',blog_path(blog),method: :delete ,class: "btn-sticky2",data:{ confirm: 'Todoを削除しますか？',cancel: 'やめる',commit: '削除'}, title: '削除の確認'%></p></div>
		<br>
	</div>
	</div>
	<br>
	<% end %>
</div>
