
<div class="container">
	<div class="main-visual-box">
	</div>
</div>
<div id="start-modal" class="start-modal-wrapper">
    <div class="modalbox">
        <h2>Hello,World!</h2>
        <p>”おもいで”を共有しよう</p>
        <br>
        <p>click</p>
        <i class="fas fa-paw close-modal"></i>
    </div>
</div>
<div class="box">
	<h1>Thanks for coming!</h1>
</div>

<div class="container2">
	<% @blogs.each do |blog| %>
	<div class="note-box">
	<div class="note">
		<br>
		<p><strong><%= blog.created_at.to_s(:datetime_jp)%></strong></p>
		<p><strong>Title : </strong><%= blog.title %></p>
		<p><strong>Body : </strong><%= simple_format(blog.body) %></p>
		<div class="block"><p class="tip"><%= link_to 'Edit?',edit_blog_path(blog) ,class: "btn-sticky"%></p></div>
		<div class="block2"><p class="tip"><%=link_to 'Delete?',blog_path(blog),method: :delete ,data: { confirm: 'Are you want to Delete？'},title: 'Excuse me...',class: "btn-sticky2" %></p></div>
		<br>
	</div>
	</div>
	<br>
	<% end %>
</div>
