<!DOCTYPE html>
<html>
  <head>
    <title>MakiBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="clearfix">
    <div class="top-container">
    <%=image_tag "header.png", class: "header-photo"%>
    </div>
    <div class ="line"></div>
    <div class="menu">
      <nav>
      <ul class="nav-list">
        <% if user_signed_in? %>
        <li class="nav-list-item">
          <%= link_to "Home",root_path%>
        <li class="nav-list-item">
          <%= link_to "About",about_path%>
        </li>
        <li class="nav-list-item">
          <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
        </li>
        <li class="nav-list-item">
          <%= link_to "Entry",new_blog_path%>
        </li>
        <% else %>
        <li class="nav-list-item">
          <%= link_to "Home",root_path%>
        <li class="nav-list-item">
          <%= link_to "About",about_path%>
        <li class="nav-list-item">
          <%= link_to "SignUp", new_user_registration_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "Login", new_user_session_path %>
        </li>
        <% end %>
      </ul>
      </nav>
    </div>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
